.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    
}
/* common styles */

.green-01{
    color:#006A50;
}
.black{
    color: #0E0E0E;
}
.btn-primary{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 700;
    background-color: #5490F5;
    padding: 11px 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

}
.btn-primary:hover{
    background-color: #09A15C;
    color: #FFFFFF;
}
.btn-primary-1:hover{
    background-color: #5490F5;
    color: #FFFFFF;
}

.bg-01{
    background-color: #09A15C;
}
.bg-02{
    background-color: #FFC239;
}
.bg-03{
    background-color: #C6E4D6;
}
.btn-03{
    font-size: 18px;
    padding: 13px 26px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
}
.btn-03:hover{
    background-color: #e6148e;
    color: #FFFFFF;
}


  /* nav section */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
    margin-top: 24px;
    
}
.btn-1{
    padding: 13px 28px;
    border:1px solid #006A50;
    border-radius: 5px;
    color: #006A50;
    font-weight: 700;
}
.btn-1:hover{
    background-color: #09A15C;
    color: #FFFFFF;
}

/* banner section */
.banner{
    display: flex;
    margin: 0 164px;
    justify-content: space-between;
    background-color: #D3F0E3 ;
    padding: 117px 60px;
    border-radius: 10px;
    margin-top: 155px;
    
}

.banner-subtitle{
    font-size: 24px;
    color: #646665;

}
.banner-title{
    font-size: 56px;
    font-weight: 800 ;
    margin-top: 16px;
    
}
.btn-2{
    margin-top: 24px;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}
.btn-2:hover{
    background-color: #4387ec;
    color: #FFFFFF;
}

/* The Vision of Future */

.vision-card{
    display: flex;
    margin: 0 160px;
    justify-content: space-around;
    
    
    
} 
.vision-container{
    width: 100%;
    margin: 0 160px;
    margin-top: 80px;
}

.vision-title{
    font-size: 40px;
    font-weight: 800;
} 
.vision-description{
    margin-top: 24px;
}
.vision-category-1{
    margin-top: 32px;
    background-color: #a4c6f7;
    width: 410.67px;
    height: 300px;
    border-radius: 15px;
    margin-right: 24px;
    padding: 32px;
}
.vision-category-2{
    margin-top: 32px;
    background-color: #C6E4D6;
    width: 410.67px;
    height: 300px;
    border-radius: 15px;
    margin-right: 24px;
    padding: 32px;
    
}
.vision-category-3{
    margin-top: 32px;
    background-color: #F7EBCF;
    border-radius: 15px;
    width: 410.67px;
    height: 300px;
    padding: 32px;
    
}

  

.catergory-img{
    margin-top: 32px;
    margin-bottom: 24px;
}
.catergor-title{
    font-size: 20px;
   
}
.category-description{
    padding-top: 12px;
    padding-bottom: 24px;
    font-size: 16px;
    
}
.category-description-2{
    padding-top: 12px;
    padding-bottom: 50px;
    font-size: 16px;
    
}
/* chief adviser section */
.chief-main{
    width: 100%;
    width: 1530px;
    height: 125px;
    background-color: #f2f5f3;
    margin: 0 160px;
    margin-top: 20px;
    padding: 48px 24px;
    border-radius: 10px;
    
    
  }
  .img-03{
    position: absolute;
    
  }
  
  .chief-title{
    font-size: 24px;
    margin-top: 12px;
  }
  .chief-sub{
    margin-top: 4px;
    margin-bottom: 48px;
  }


/* News Section */
.section{
    margin: 0 160px;
    justify-content: space-between;
}
.news-title-1{
    font-size: 40px;
    font-weight: 800;
    margin-top: 80px;
}
.news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7) ;
    margin-bottom: 32px;
    
    
}

.news-container{
    display: flex;
    margin-top: 32px;
    gap: 32px;
    padding: 48px;
    background-color: #f5f2f2ad;
    border-radius: 15px;
    margin-bottom: 24px;
    
}

.news-title-2{
    font-size: 32px;
    font-weight: 700;
}
.news-img{
    border-radius: 10px;
}
.news-img-2{
    margin-top: 12px;
}
.news-subtitile{
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

/* Donate For Bangladesh */
.donate-title{
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
    text-align: center;
}
.donate-description{
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 32px;
    
}
.donate-btn{
    text-align: center;
    margin-bottom: 32px;
    
}
.donate-btn-1{
    padding: 40px;
    font-size: 40px;
    border: none;
    border-radius: 15px;
    font-weight: 800;
    color: #0E0E0E;
    margin-right: 24px;
    
}
.donate-btn-1:hover{
    background-color: #a10909;
    color: #FFFFFF;
}
.input-design{
    width: 1150px;
    height: 64px;
    text-align: center;
    margin: 0 340px;
    font-size: 20px;
    border: none;
    background-color: #dfe2e0;
    
    
}

.btn-donate{
    text-align: center;
    margin-top: 32px;
}

.btn-donate-02{
    font-size: 18px;
    font-weight: 700;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 15px;
    margin-bottom: 80px;
    

}
.btn-donate-02:hover{
    background-color: #a10909;
    color: #FFFFFF;
}

/* Newsletter Section */
.newsletter{
    background-color: #D3F0E3 ;
    padding: 80px 80px;
    border-radius: 10px;
    margin: 0 160px;
    align-items: center;
}
.newsletter-title{
    font-size: 40px;
    font-weight: 800;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 16px;
}
.newsletter-description{
    font-size: 16px;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 24px;
}
.news-form{
    margin: 0 320px;
    align-items: center;
}


.input-info{
    font-size: 16px;
    color: #0E0E0E;
    width: 600px;
    height: 55px;
    border: none;
    background-color: #e1e6e4;
    border-radius: 5px;
    
    
    
    
   
    
}
.btn-for-sub{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
    border: none;
    border-radius: 5px;
    margin-left: -15px;
    display: inline-block;
    padding: 17px 34px;
    height: 60px;
    
    


}
.btn-for-sub:hover{
    background-color: #a10909;
    color: #FFFFFF;
}
.newsletter-sub{
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    color: #757272;
   
    
}

.news-letter{
    margin: 0 200px;
}


